:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;

  color: #faf7f7; /* Text color changed to white */
  background-color: #121212; /* Darker background for better contrast */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  color: #ffffff; /* Link color changed to white */
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: #cccccc; /* Slightly lighter on hover */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: calc(1280px + (2 * var(--padding))); /* Better for larger screens */
  min-height: calc(100vh + (2 * var(--padding)));
}

h1 {
  font-size: larger; /* Adjusted header size */
}

button {
  border-radius: .5em; 
  border-width:.5px; 
  padding:.5em .75em; 
}